*{

    margin: 0;
    padding: 0;

}

@charset"UTF-8";

/*
#c5eb6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e


*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url(/desafiosite/fontes/idroid.otf);
    font-weight: normal;
}

:root{

    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --font-padrao:Arial, Verdana, Helvetica, sans-serif;
    --font-destque:'bebas neue', cursive;
    --font-android:'android',cursive;

    
}

body{

        background-color:rgb(245, 253, 228);
        font-family: var(--font-padrao);    
}


a.externo::after{

    content:' \00a0\1F517';

}



header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    


}

 header > h1{
        font-family: var(--font-padrao);
        color:white;
        font-weight: normal;
        font-weight: normal;
        margin-bottom: 20px;
        font-size: 3em;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);


 }

 header > p{
        font-family: var(--font-destque);
        color: white;
        font-size: 1.2em;
        max-width:600px;
        margin: auto;
        padding-right: 10px;
        padding-left: 10px;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
        padding-bottom: 50px;
        
  }



  nav{
        background-color: var(--cor5);
        padding: 20px;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.397);
        text-align: right;
  }

    nav > a{
        
        color: var(--cor1);
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
        transition-duration: .5s;
        

    }
    
    nav a:hover{

        background-color: var(--cor1);
        color: var(--cor5);


    }




  


  main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;
    margin-top: 1px;
    

  }


 main h1{
     font-family: var(--font-android);
     color:var(--cor5);
     font-weight: normal;
     font-size: 1.8em;

 }


main h2{

    color: var(--cor4);
    font-family: var(--font-android);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1),
    transparent);
    text-indent: 8px;

}


    
main p{

    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;

}


main strong{

    color:var(--cor4);
    font-weight: bold;
   

}  


main a {

    background-color: var(--cor1);
    padding: 2px 6px;
    text-decoration: none;
    color: white;
    font-weight: bold;


}

main a:hover{


        text-decoration: underline;
        color: var(--cor4);

}


main img{

    width: 100%;


}

main img.pequena{
    margin: auto;
    display: block;
    max-width: 350px;

}

div.video{
    background-color: var(--cor4);
    padding: 20px;
    margin: 0px -20px 30px -20px;
    padding-bottom: 56.5%;
    position: relative;
    

}

div.video > iframe{

    position: absolute;
    top:5%;
    left:5%;
    width:90% ;
    height:90% ;
}


aside{

    background-color: var(--cor0);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.322);

}

aside > ul{

    list-style-position: inside;
    list-style-type: '\1F919\00A0\00A0';
       
}

aside h3{

    background-color: var(--cor3);
    color: white;
    padding: 10px;
    text-align: center;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}


footer{
    background-color: var(--cor5);
    color: white;
    padding: 5px;
    text-align: center;
    background-image: linear-gradient(to top,var(--cor4),var(--cor5));
    font-size: 0.8em;
}



  footer a{
       
        color: var(--cor1);
        text-decoration: none;
        padding: 3px;
        border-radius: 3px;
        font-weight: bolder;

    }

    footer a:hover{

       font-weight: bold;
       text-decoration: underline;
    

    }






